<h2>BATTLE TIME!!!!</h2>
<p>
<%= @game.player1.name %> vs. <%= @game.player2.name %><br><br>
</p>
<p>
<%= @game.player1.name %>: <%= @game.player1.hp %>HP<br>
<%= @game.player2.name %>: <%= @game.player2.hp %>HP<br><br>
</p>
<p>
<%= @game.current_turn.name %>'s turn
</p>
<form action="/attack">
  <input type="submit" name="Attack" value="Attack">
</form>
